* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.hero {
    font-family: sans-serif;
    padding: 2rem 3rem;
    background-color: #f4f1f1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.hero p {
    font-family: 'poppins', sans-serif;
    font-size: 0.9rem;
  
}

.hero h1 {
    font-size: 2rem;
}

.hero img {

    object-fit: cover;
}