* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
  background-color: #0f3d3e;
  padding: 3rem 1.5rem;
}

