* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
  background-color: #0f3d3e;
  padding: 3rem 1.5rem;
  border-radius: 5px;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.hero h1 {
  color: #ffffff;
  font-family: sans-serif;
}
.hero .datum {
  color: #ffffff;
  font-family: sans-serif;
}
.hero .plats {
  color: #ffffff;
  font-family: sans-serif;
}
.hero .tagline {
  color: #ffffff;
  font-family: sans-serif;
}
